/modules/interface/fn_main_window_2.py
!/modules/interface/fn_main_window_backup_0.py
!/modules/interface/fn_main_window_backup_1.py
!/modules/interface/fn_main_window_backup_2.py
!/modules/interface/fn_main_window_cor.py
!/modules/interface/main_window_2.ui
!/Program/
!/dist/
!/build/
!/test/
!/YourAppName.spec
!/настройки exe.txt
!/Plot_app.spec
!/Program.zip
!/resources/icons/
